[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  ll = log --graph --decorate --abbrev-commit --stat
  st = status
  diffw = diff --color-words
  ready = rebase -i @{u}
#[user]
#  name = ...
#  email = ...
[include]
  path = .gitconfiglocal
