[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  ll = log --graph --decorate --abbrev-commit --stat -M
  st = status -uno
  diffw = diff --color-words='\\w+|.'
  diffchars = diff --color-words=.
  ready = rebase -i @{u}
  root = rev-parse --show-toplevel
  br = branch -vv
  show-merge = log --decorate --abbrev-commit --stat -M -n1 -p -m -c
#[user]
#  name = ...
#  email = ...
[include]
  path = .gitconfiglocal
[diff]
	renames = true
	mnemonicPrefix = true
[push]
	default = simple
[grep]
	patternType = perl
[core]
	pager = diff-highlight | less -S
[rerere]
	enabled = true
	autoupdate = true
